In [ ]:
## TEST

In [40]:
import pandas as pd
data = pd.read_csv("test.csv", delimiter = '\t') 
data.head()
#data.describe()

,column_1,column_2,column_3,column_4,column_5,column_6,column_7,column_8,column_9,column_10,...,column_59,column_60,column_61,column_62,column_63,column_64,column_65,column_66,label_target,ids
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.177281,0.799805,...,0.524242,0.017201,-0.567669,-0.173515,-0.132056,-0.543881,-0.267712,-0.22049,0,4258
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.016522,-0.368210,...,-0.833311,-0.752589,-0.567669,-0.687727,-0.657072,-0.543881,-0.267712,-0.22049,1,57185
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.016522,0.984228,...,-0.154534,-0.367694,-0.782755,-0.687727,-0.657072,-0.763623,-0.267712,-0.22049,0,80480
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.985536,-0.491159,...,-0.833311,-0.367694,-0.352583,-0.687727,-0.657072,-0.324139,-0.267712,-0.22049,1,68624
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.048079,-0.368210,...,-0.833311,-0.752589,-0.567669,-0.687727,-0.657072,-0.543881,-0.267712,-0.22049,1,10687

In [43]:
import pandas as pd
import io
import requests

url = "https://raw.githubusercontent.com/abitravers1989/machine_learning_challenge/master/DataSet/test.csv"

s = requests.get(url).content
ds = pd.read_csv(io.StringIO(s.decode('utf-8')), delimiter = '\t')
ds.head()

,column_1,column_2,column_3,column_4,column_5,column_6,column_7,column_8,column_9,column_10,...,column_59,column_60,column_61,column_62,column_63,column_64,column_65,column_66,label_target,ids
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.177281,0.799805,...,0.524242,0.017201,-0.567669,-0.173515,-0.132056,-0.543881,-0.267712,-0.22049,0,4258
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.016522,-0.368210,...,-0.833311,-0.752589,-0.567669,-0.687727,-0.657072,-0.543881,-0.267712,-0.22049,1,57185
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.016522,0.984228,...,-0.154534,-0.367694,-0.782755,-0.687727,-0.657072,-0.763623,-0.267712,-0.22049,0,80480
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.985536,-0.491159,...,-0.833311,-0.367694,-0.352583,-0.687727,-0.657072,-0.324139,-0.267712,-0.22049,1,68624
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.048079,-0.368210,...,-0.833311,-0.752589,-0.567669,-0.687727,-0.657072,-0.543881,-0.267712,-0.22049,1,10687

In [44]:
from io import StringIO

import pandas as pd
import requests
url = "https://raw.githubusercontent.com/abitravers1989/machine_learning_challenge/master/DataSet/test.csv"
s=requests.get(url).text
c=pd.read_csv(StringIO(s), delimiter = '\t')
c.head()

,column_1,column_2,column_3,column_4,column_5,column_6,column_7,column_8,column_9,column_10,...,column_59,column_60,column_61,column_62,column_63,column_64,column_65,column_66,label_target,ids
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.177281,0.799805,...,0.524242,0.017201,-0.567669,-0.173515,-0.132056,-0.543881,-0.267712,-0.22049,0,4258
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.016522,-0.368210,...,-0.833311,-0.752589,-0.567669,-0.687727,-0.657072,-0.543881,-0.267712,-0.22049,1,57185
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.016522,0.984228,...,-0.154534,-0.367694,-0.782755,-0.687727,-0.657072,-0.763623,-0.267712,-0.22049,0,80480
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.985536,-0.491159,...,-0.833311,-0.367694,-0.352583,-0.687727,-0.657072,-0.324139,-0.267712,-0.22049,1,68624
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.048079,-0.368210,...,-0.833311,-0.752589,-0.567669,-0.687727,-0.657072,-0.543881,-0.267712,-0.22049,1,10687